header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  height: 110px;
}
.buttonContainer {
  display: flex;
  gap: 10px;
}
.button {
  padding: 8px 14px;
  border: 1px solid #f0b96bff;
  background-color: #f0b96bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
