body {
    font-family: cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.container {
    background-color: rgb(254, 222, 228);
    color: rgb(255, 89, 116);
    height: 90vh;
    width: 100vh;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

hr{
    border: 2px solid white;
}

input {
    border: 0.5px solid rgba(250, 77, 106, 0.934);
    margin-bottom: 15px;
}

input::placeholder {
    color: rgb(255, 198, 208);
}

button {
    background-color: rgb(246, 188, 197);
    color: rgba(250, 77, 106, 0.934);
    border: 0.5px solid rgba(250, 77, 106, 0.934);
    display: block;
}
