.course {
  width: 200px;
  height: 300px;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.course-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.course-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
