.card-container-h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 20px;
  padding-bottom: 50px;
}

.card-header-h1 {
  display: flex;
  justify-content: center;
}

.card-context-h1 {
  display: flex;
  justify-content: center;
}

.card-list-h1 {
  margin: 40px 0;
}

.card-list-h1 a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.card-img-h1 {
  width: 90vw;
}
