.card-container-h3 {
  width: 100vw;
  border: 1px solid rgb(227, 227, 227);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #eaeaea;
}
.card-header-h3 {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
}
.card-image-h3 {
  display: flex;
  align-items: center;
  height: auto;
  margin: 10px;
}
