.card4-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 15px;
  height: 400px;
  width: 300px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(44, 44, 44, 0.155);
}
.card4-image {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  left: 25px;
  top: -20px;
  margin: 5px;
  border-radius: 20px;
}
.card4-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  top: 140px;
}
.card4-context {
  display: flex;
  justify-content: center;
  top: 100px;
}

.card4-container a {
  display: flex;
  justify-content: center;
  margin: 10px;
}
