/* @media (min-width: 1024px) {
  .context-container {
    width: 100vw;
    margin: 0 auto;
  }

  .card3 {
    max-width: 800px;
    display: grid;
    grid-template-areas:
      "card3-0 card3-0"
      "card3-1 card3-2"
      "card3-3 card3-3";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 30px;
  }

  .card3-0 {
    grid-area: card3-0;
  }
  .card3-1 {
    grid-area: card3-1;
  }
  .card3-2 {
    grid-area: card3-2;
  }
  .card3-3 {
    grid-area: card3-3;
  }

  .card3-0 .card-logo-h3 {
    background-color: #fff9b4;
  }

  .card3-1 .card-logo-h3 {
    background-color: rgb(255, 223, 167);
  }

  .card3-2 .card-logo-h3 {
    background-color: rgb(255, 202, 202);
  }

  .card3-3 .card-logo-h3 {
    background-color: rgb(219, 198, 253);
  }

  .section-4 {
    max-width: 800px;
    display: grid;
    grid-template-areas:
      "card6-0 card6-0"
      "card6-1 card6-2"
      "card6-3 card6-4";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }
  .card6-0 {
    grid-area: card6-0;
  }
  .card6-1 {
    grid-area: card6-1;
  }
  .card6-2 {
    grid-area: card6-2;
  }
  .card6-3 {
    grid-area: card6-3;
  }
  .card6-4 {
    grid-area: card6-4;
  }

  .section5-buttons {
    display: flex;
    justify-content: center;
  }
  .section5-left-button,
  .section5-right-button {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid rgb(185, 218, 231);
  }

  .section-7 {
    max-width: 800px;
    display: grid;
    grid-template-areas:
      "card10-0 card10-0"
      "card10-1 card10-2"
      "card10-3 card10-4";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }
  .card10-0 {
    grid-area: card10-0;
  }
  .card10-1 {
    grid-area: card10-1;
  }
  .card10-2 {
    grid-area: card10-2;
  }
  .card10-3 {
    grid-area: card10-3;
  }
  .card10-4 {
    grid-area: card10-4;
  }

  .section-8 {
    max-width: 800px;
    display: flex;
  }

  .section-9 {
    display: flex;
    justify-content: center;
  }

  .see-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    left: 37%;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 119);
  }
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #bfbfbf;
}

body.dark p,
body.dark div:not(.theme-switcher) {
  color: #777;
}

@media (width <= 1024px) {
  .context-container {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    font-size: 0.8rem;
  }

   Section 2'deki kartlar 
  .section-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .context-container {
    padding: 40px 50px;
    max-width: 800px;
    margin: 0 auto;
  }

  .section-2 {
    max-width: 100vw;
    gap: 1rem;
  }

  .section-4 {
    max-width: 100vw;
    gap: 30px;
    margin-top: 30px;
  }

  .section5-buttons {
    display: flex;
    justify-content: center;
  }
  .section5-left-button,
  .section5-right-button {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid rgb(185, 218, 231);
  }

  .section-7 {
    max-width: 800px;
    gap: 30px;
    margin-top: 30px;
  }

  .section-8 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

  .section-9 {
    display: flex;
    flex-direction: column;
  }

  .see-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 119);
  }
} */

.back-home-button {
  font-size: 20px;
  background-color: white;
  border: 2px solid rgb(186, 186, 186);
  color: #808080;
  box-shadow: 1px 1px 5px #eaeaea;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.back-home-button:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.card-container-h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 20px;
  padding-bottom: 50px;
}
.card-header-h1,
.card-context-h1 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.card-list-h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  height: 40px;
}
.card-list-h1 a {
  height: 40px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 25px;
  flex-direction: row;
}
.card-list-h1 a:hover {
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(255, 255, 204);
}
.card-img-h1 {
  width: 90%;
  max-width: 900px;
  height: auto;
  align-self: center;
}

.card-container-h2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-header-h2,
.card-context-h2,
.card-image-h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-container-h3 {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #eaeaea;
  box-sizing: border-box;
}
.card-container-h3:hover {
  scale: 1.02;
}
.card-header-h3 {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
}
.card-image-h3 {
  display: flex;
  align-items: center;
  height: auto;
  margin: 10px;
  justify-content: center;
}
.card-image-h3 img {
  max-width: 100%;
  height: auto;
}

.card4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(44, 44, 44, 0.155);
  box-sizing: border-box;
}
.card4-container:hover {
  scale: 1.02;
}

.card4-image {
  width: 90%;
  max-height: 200px;
  margin: 0 auto 10px auto;
  border-radius: 20px;
  object-fit: cover;
}
.card4-header {
  font-size: 1.5rem;
  padding: 10px 0;
  margin: 0;
}
.card4-context {
  padding: 0 10px 15px 10px;
}
.card4-container a {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.card4-container a {
  color: black;
  text-decoration: none;
  height: 2vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.card4-container a:hover {
  background-color: rgb(255, 208, 120);
  scale: 1.2;
}

.card5-container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  margin: 15px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(44, 44, 44, 0.155);
  box-sizing: border-box;
}
.card5-container:hover {
  scale: 1.02;
}

.card5-logo {
  margin-bottom: 10px;
  align-self: flex-start;
}
.card5-header {
  font-size: 25px;
  margin-bottom: 20px;
}
.card5-context {
  padding-left: 0;
}
.card5-context li {
  list-style-type: none;
  margin-bottom: 5px;
}
.card5-context li a {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  color: rgb(147, 147, 147);
}
.card5-context li a:hover {
  font-size: 1.1rem;
}
.card5-view-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  height: 6vh;
  width: 100px;
  border-radius: 15px;
  padding: 0 5px;
}

.card5-view-button:hover {
  background-color: rgb(255, 255, 172);
  font-size: 1.2rem;
}

.card6-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5vh 0;
}
.card6-header {
  padding: 30px 0;
}
.card6-logos {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 10px;
  font-size: 2rem;
  cursor: pointer;
}
.card6-logos li {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}
.card6-logos li:hover {
  scale: 1.5;
}
.card6-active-logo {
  scale: 1.5;
  border-radius: 25%;
  background-color: #fffb93;
  box-shadow: 2px 1px rgb(128, 128, 128);
}
.card6-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 40px 0;
  margin: 0;
  border-top: 2px solid #fffb93;
  box-sizing: border-box;
}
.card6-image img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.section5-buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  font-size: 30px;
}
.section5-left-button,
.section5-right-button {
  background-color: transparent;
  height: 30px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid rgb(185, 218, 231);
  cursor: pointer;
}
.section5-left-button:hover,
.section5-right-button:hover {
  scale: 1.4;
}

.see-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 119);
  cursor: pointer;
  margin: 30px auto;
}
.see-all-button:hover {
  scale: 1.2;
}

.card3-0 .card-logo-h3 {
  background-color: #fff9b4;
}
.card3-1 .card-logo-h3 {
  background-color: rgb(255, 223, 167);
}
.card3-2 .card-logo-h3 {
  background-color: rgb(255, 202, 202);
}
.card3-3 .card-logo-h3 {
  background-color: rgb(219, 198, 253);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #bfbfbf;
}
body.dark p,
body.dark div:not(.theme-switcher) {
  color: #777;
}
body.dark .card-container-h3,
body.dark .card4-container,
body.dark .card5-container {
  border: 1px solid #3f3f3f;
  box-shadow: 1px 1px 5px #4f4f4f;
}
body.dark .back-home-button {
  background: #1e1e1e;
}
body.dark .back-home-button:hover {
  background-color: #4f4f4f;
}

@media (min-width: 1025px) {
  .context-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5vw;
    overflow: hidden;
    box-sizing: border-box;
  }

  .context-products,
  .context-solutions,
  .context-resources,
  .context-enterprise-overview,
  .context-enterprise-services {
    width: 100%;
    max-width: 1000px;
    height: 60vh;
    margin: 5vh auto;
    padding: 0 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18vw;
  }

  .section-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card3 {
    width: 100%;
    display: grid;
    grid-template-areas:
      "card3-0 card3-0"
      "card3-1 card3-2"
      "card3-3 card3-3";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .card3-0 {
    grid-area: card3-0;
  }
  .card3-1 {
    grid-area: card3-1;
  }
  .card3-2 {
    grid-area: card3-2;
  }
  .card3-3 {
    grid-area: card3-3;
  }

  .section-4 {
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-areas:
      "card6-0 card6-0"
      "card6-1 card6-2"
      "card6-3 card6-4";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .card6-0 {
    grid-area: card6-0;
  }
  .card6-1 {
    grid-area: card6-1;
  }
  .card6-2 {
    grid-area: card6-2;
  }
  .card6-3 {
    grid-area: card6-3;
  }
  .card6-4 {
    grid-area: card6-4;
  }

  .section-7 {
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-areas:
      "card10-0 card10-0"
      "card10-1 card10-2"
      "card10-3 card10-4";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .card10-0 {
    grid-area: card10-0;
  }
  .card10-1 {
    grid-area: card10-1;
  }
  .card10-2 {
    grid-area: card10-2;
  }
  .card10-3 {
    grid-area: card10-3;
  }
  .card10-4 {
    grid-area: card10-4;
  }

  .section-8 {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }
  .section-8 .card4-container {
    width: 33.3%;
    max-width: none;
  }

  .section-9 {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }
  .section-9 .card5-container {
    width: 33.3%;
    max-width: none;
  }
}

@media (max-width: 1024px) {
  .context-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px 25px;
    box-sizing: border-box;
    font-size: 0.9rem;
    overflow-x: hidden;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7,
  .section-8,
  .section-9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .card3,
  .section-4,
  .section-7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .section-2 .card2,
  .section-8 .card4-container,
  .section-9 .card5-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .card-img-h1 {
    width: 100%;
    height: auto;
  }
  .card-image-h2 {
    width: 100%;
    object-fit: contain;
  }

  .card-list-h1 {
    font-size: 0.8rem;
    flex-wrap: wrap;
  }

  .section5-buttons,
  .see-all-button {
    margin: 20px auto;
  }
}
