.theme-switcher {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

/* dark mode */
input:checked + .slider {
  background-color: #bfbfbf;
}

input:checked + .slider::before {
  transform: translateX(14px);
  background-color: #000;
}
