@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.layout-container {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px auto;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.content-area {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.layout-container.sidebar-open {
  grid-template-columns: 350px 1fr;
}

@media (min-width: 1025px) {
  .layout-container {
    grid-template-columns: 1fr;
  }

  .sidebar-area {
    display: none;
  }

  .content-area {
    grid-column: 1 / -1;
    padding: 0 40px;
    width: 100%;
  }

  .add-delete-list-bar {
    display: block;
  }
}

@media (max-width: 1024px) {
  .add-delete-list-bar {
    display: none;
  }

  .sidebar-area {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
  }

  .layout-container {
    grid-template-columns: 100%;
    width: 100%;
  }

  .content-area {
    grid-column: 1 / -1;
    padding: 0 20px;
    width: 100%;
  }
}
