@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fffbe4;
  font-family: "Muli", sans-serif;
  height: 100vh;
  margin: 0;
}

.layout-container {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px auto;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.sidebar-area {
}

.header-area {
}

.content-area {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout-container.sidebar-open {
  grid-template-columns: 350px 1fr;
}

@media (min-width: 1025px) {
  .add-delete-list-bar {
    display: block !important;
  }

  /* Sidebar gizli olmalı */
  .sidebar-area {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .add-delete-list-bar {
    display: none !important;
  }

  .sidebar-area {
    display: block !important;
    position: fixed;
    z-index: 100;
  }
}
