.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 13vw;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.968);
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 6vh;
}

.socials {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.social-button {
  background-color: transparent;
  color: rgb(190, 190, 190);
  border: none;
  font-size: 3vh;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
}

body.dark .footer {
  background-color: #1e1e1e;
  border-top: 1px solid #333;
  color: #808080;
}
body.dark .social-button {
  color: #808080;
}

@media (max-width: 1024px) {
  .footer {
    justify-content: space-between;
    padding: 20px;
  }
}
