.user {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  border-radius: 30px;
  border: 1px solid rgb(252, 252, 150);
  position: relative;
}

.user-logo {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  margin-right: 60px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65px;
  right: 40px;
  background-color: white;
  width: 150px;
  z-index: 100;
  padding: 10px 0;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  height: 30px;
  transition: background-color 0.2s;
  color: #333;
  gap: 10px;
}

.dropdown-item:hover {
  background-color: rgb(255, 254, 171);
  font-size: large;
}

.dropdown-divider {
  height: 1px;
  background-color: #eee;
  margin: 5px 0;
}
