.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 13vw;
  background-color: rgba(255, 255, 255, 0.968);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 0 2px 4px rgba(195, 195, 195, 0.2);
}

body.dark .header {
  background-color: #1e1e1e;
  color: #ececec;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo img {
  height: 6vh;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link,
.dropdown-button {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: medium;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.toggle-language {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language {
  display: flex;
  align-items: center;
}

.language button {
  background: none;
  border: none;
  font-size: 10px;
  width: 2vw;
  padding-right: 1vw;
  cursor: pointer;
  color: #000;
}

.log {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logIn-button,
.signUp-button {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.divider {
  margin: 0 5px;
  color: #aaa;
}

.dropdown {
  position: relative;
}

.dropdown-enterprice {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  left: 0;
  top: 100%;
  border-radius: 5px;
}

.dropdown-item {
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

body.dark .nav-link,
body.dark .dropdown-button,
body.dark .language button,
body.dark .logIn-button,
body.dark .signUp-button {
  color: #808080;
}
body.dark .dropdown-enterprice,
body.dark .dropdown-item {
  background-color: #2c2c2c;
  color: #808080;
}
body.dark .menu-toggle-button {
  color: #808080;
}

.menu-toggle-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #000;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 20px;
    height: 10vh;
    gap: 20px;
    justify-content: space-between;
  }

  .desktop-only {
    display: none;
  }

  .header-left .header-logo {
    display: none;
  }

  .menu-toggle-button {
    display: flex;
    justify-content: flex-start;
    background-color: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
  }
}
