.user {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  border-radius: 30px;
  border: 1px solid rgb(215, 215, 215);
  position: relative;
}

.user-logo {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  margin-right: 60px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  right: 40px;
  background-color: white;
  width: 180px;
  z-index: 100;
  padding: 10px 0;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 10px;
  cursor: pointer;
  height: 30px;
  transition: background-color 0.2s;
  color: #333;
  gap: 10px;
}

.dropdown-item:hover {
  background-color: rgb(255, 254, 171);
  width: 200px;
  height: 40px;
  font-size: large;
}

.dropdown-divider {
  height: 1px;
  background-color: #eee;
  margin: 5px 0;
}

body.dark .user {
  background-color: #1e1e1e;
}

body.dark .user-logo {
  color: #bfbfbf;
}

body.dark .dropdown-menu {
  background-color: #2c2c2c;
  border: 1px solid #444;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

body.dark .dropdown-item {
  color: #ececec;
}

body.dark .dropdown-item:hover {
  background-color: #3d3d3d;
}

body.dark .dropdown-divider {
  background-color: #444;
}
