.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  height: 100vh;
}
.login {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

body.dark .login-input {
  background-color: #2c2c2c;
  color: #808080;
}

body.dark .login,
body.dark .login-link-text {
  color: #858585;
}
body.dark .signup {
  color: #ffffff;
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.login-button {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.error-message {
  color: rgb(164, 0, 0);
}

.login-link-text {
  margin-top: 20px;
}
