.projects {
  background-color: rgb(255, 255, 217);
  height: 100%;
  padding: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
