.register-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  height: 100vh;
}

.register-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  background-color: white;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.error-message {
  color: rgb(174, 0, 0);
}

.register-link-text {
  margin-top: 10px;
}
