.search-button {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-button input {
  border: none;
  outline: none;
}

.search-button svg {
  font-size: 18px;
  cursor: pointer;
}
