.status-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid grey;
  width: 150px;
  position: absolute;
  top: 100%;
  z-index: 10;
}

.dropdown-status button {
  background-color: white;
  width: auto;
  z-index: 0;
}

.status-button.status-default {
  background-color: #f9f9f9;
}

.status-button.status-in-progress {
  background-color: rgb(255, 255, 161);
}

.status-button.status-completed {
  background-color: rgb(255, 190, 106);
}

body.dark .dropdown-status,
body.dark .dropdown-status button {
  background-color: #444;
  border: none;
}
