.tasks {
  background-color: rgb(255, 255, 217);
  height: 100%;
  padding: 60px;
  border-radius: 30px;
  display: flex;
}

.header-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.projects ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.tasks ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(56, 56, 56);
}

.tasks li div {
  display: flex;
  gap: 10px;
}

.tasks button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 254, 171);
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}
