.tasks {
  background-color: rgb(255, 255, 217);
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tasks-list {
  height: auto;
  width: 100%;
  padding: 10px;
}

.list-item {
  width: 100%;
}

.close-tasks-button {
  width: 50px;
}

.header-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.tasks-search-close {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.tasks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.tasks ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  gap: 20px;
  padding: 5px 0;
  border-bottom: 1px solid rgb(56, 56, 56);
}

.tasks li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

.add-task-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .status-button,
  .ok-button,
  .edit-button,
  .delete-button,
  .comment-button {
    width: 50px;
  }

  .item-name {
    max-width: 30px;
  }
}

body.dark .tasks {
  background-color: #1e1e1e;
  border: 1px solid #bfbfbf;
}

body.dark .header-line {
  border-bottom: 1px solid #bfbfbf;
  color: #ececec;
}

body.dark .tasks ul li {
  background-color: #2c2c2c;
  border-bottom: 1px solid #444;
  color: #ececec;
}

body.dark .tasks button {
  background-color: #333;
  color: #ececec;
  border: 1px solid #555;
}

body.dark .tasks button:hover {
  background-color: #444;
}
